
.DS_Store/
predict_temp.ipynb
.ipynb_checkpoints/
vi00_vi01_transformer.yml/
colab_paddle.ipynb/
output/

Vietocr_env/
env/
venv/
.venv/

__pycache__/
*.pyc

*.pth
*.onnx
*.pdmodel
*.pdiparams
PaddleOCR/inference/
vgg_transformer.pth

.vscode/
.idea/

*.log
check_api.py